@import "../../assets/theme/colors"

$common-border-radius: 4px
$common-header-color: white

.page-header
  position: fixed
  top: 0
  left: 0
  width: 100%
  overflow: hidden
  padding: 15px 10px
  z-index: 999

.page-header a
  float: left
  background-color: $common-header-color
  color: black
  text-align: center
  padding: 10px
  text-decoration: none
  font-size: 18px
  line-height: 25px
  border-radius: $common-border-radius
  margin: 5px
  border: 1px solid darken($common-header-color, 12.5%)

.page-header a.logo
  font-size: 25px
  font-weight: bold

.page-header a.search
  background: none
  padding: 0
  border: none

.page-header a.search:hover
  box-shadow: none

.page-header a:hover
  box-shadow: 0 0 1px rgba(0,0,0,0.5)
  color: black

.page-header a.active
  background-color: map-get($colors, 'primary')
  color: white

.page-header-right
  float: right
  //border-radius: $common-border-radius
  //background-color: $common-header-color

$search_size: 2.75em

#search-box
  background-color: white

#search-input
  outline: none
  padding: 10px
  font-size: 17px
  border: none
  border-radius: 4px 0px 0px 4px
  float: left
  width: 80%
  height: $search_size
  background: #f1f1f1

#search-button
  outline: none
  float: left
  width: $search_size
  height: $search_size
  padding: 10px
  background: map-get($colors, 'primary')
  color: white
  font-size: 17px
  border-radius: 0px 4px 4px 0px
  cursor: pointer


@media screen and (max-width: 500px)
  .page-header
    background-color: $common-header-color
    padding: 5px

  .page-header a
    border: none

  .page-header a.search
    float: right

